extends layout.jade
block content  
  div(id="main" class="col-md-4 center-block float-out text-center margin-top")
    img(src="images/icecream.png" alt="Sandwich" class="animated fadeIn")
    h1(class="pacifico big green animated fadeIn retraso-1") Guillermo's Food
    h2(class="lato") Come, eat and have fun
  script(src="http://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")
  script(src="js/main.js")
